{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <h1 class="text-center">{% trans "Log in" %}</h1>
      <p class="text-center">
        {% blocktrans %} Welcome back to [Your Site Name]. To add new recipes or to view your saved recipes, please log in.
        If you have not created an account yet, please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary w-100 mt-3" type="submit">{% trans "Log in" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
