/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #D2DEEB; /* Updated background color */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    background-color: #B6CBD5; /* Updated background color */
    border-bottom: 2px solid #eaeaea;
}

.navbar-brand {
    font-weight: 700;
    color: rgb(0 0 0 / 68%); /* Updated text color */
    font-size: 24px;
}

.nav-link {
    color: rgb(0 0 0 / 68%); /* Updated text color */
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #e67e22;
}

.navbar-toggler {
    border: none;
}

/* Header */
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 0;
}

/* Main Content */
main {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 30px auto;
    max-width: 1000px;
}

/* Custom Styles for Recipe Cards */
.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    color: #333;
}

.card-text {
    color: #555;
}

/* Button Styles */
.btn-primary {
    background-color: #8394A7;
    border-color: #8394A7;
}

.btn-primary:hover {
    background-color: #6b7a8c;
    border-color: #6b7a8c;
}

/* Footer Styles */
footer {
    background-color: #B6CBD5; /* Updated background color */
    color: rgb(0 0 0 / 68%); /* Updated text color */
    padding: 20px 0;
    text-align: center;
    height: 100px;
}

footer p, footer a, footer i {
    color: rgb(0 0 0 / 68%); /* Ensure text and icons are the same color as navbar text */
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover, footer i:hover {
    color: #e67e22; /* Same hover color as navbar links */
}
