{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                {% if user.is_authenticated %}
                <!-- Image for authenticated users -->
                <img src="{% static 'media/dinner.png' %}"
                    class="img-fluid" alt="Healthy Lifestyle">
                {% else %}
                <!-- Image for unauthenticated users -->
                <img src="{% static 'media/dinner.png' %}"
                    class="img-fluid" alt="Healthy Food">
                {% endif %}
            </div>
            <div class="col-md-6 text-center">
                {% if user.is_authenticated %}
                <h1>Welcome back to Healthy Bite!</h1>
                <a class="btn btn-outline-dark btn-lg mt-3" href="{% url 'recipe_create' %}">Create a Recipe</a>
                {% else %}
                <h1>Discover the Joy of Healthy Eating!</h1>
                <a class="btn btn-outline-dark btn-lg mt-3" href="{% url 'account_signup' %}">Sign Up Now</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Second Section: Single Card with a Message -->
<div class="container my-5">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Why Healthy Food is Important</h5>
            <p class="card-text">
                Eating healthy is crucial for maintaining a balanced lifestyle. It helps you feel better, have more energy, and can even improve your mood. 
                A diet rich in fruits, vegetables, whole grains, and lean proteins can help you achieve and maintain a healthy weight, reduce your risk of chronic diseases, and promote overall health.
            </p>
        </div>
    </div>
</div>
{% endblock %}
