{% extends "base.html" %}
{% block title %}My Recipes - Healthy Bite{% endblock %}

{% block content %}
<div class="container">
    <h1>My Recipes</h1>
    {% if recipes %}
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description|truncatewords:20 }}</p>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You have not added any recipes yet. Click <a href="{% url 'recipe_create' %}">here</a> to add a new recipe!</p>
    {% endif %}
</div>
{% endblock content %}
