{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Healthy Bite | All Recipes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Our Delicious Recipes</h1>
    <!-- Recipe Cards -->
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card ">
                {% if "placeholder" in recipe.image.url %}
                <img src="{% static 'images/placeholder_image.jpg' %}" class="card-img-top" alt="placeholder image">
                {% else %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text"><i class="far fa-clock"></i> Cook Time: {{ recipe.cook_time }} minutes</p>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary btn-block">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock %}
