{% extends "base.html" %}

{% block title %}{{ recipe.title }} - Healthy Bite{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="col-12 col-md-4">
        {% if "placeholder" in recipe.image.url %}
        <img src="../static/media/istockphoto-2081769995-1024x1024-c4U3Gracg-transformed.jpeg"
            class="recipe-detail-img" alt="placeholder image">
        {% else %}
        <img src="{{ recipe.image.url }}" alt="recipe image" class="recipe-detail-img">
        {% endif %}
    </div>
    <h1>{{ recipe.title }}</h1>

    <p><strong>Author:</strong> {{ recipe.author.username }}</p>
    <p><strong>Ingredients:</strong></p>
    <div>{{ recipe.ingredients|linebreaks }}</div>

    <p><strong>Instructions:</strong></p>
    <div>{{ recipe.instructions|linebreaks }}</div>

    <!-- Like and Bookmark Buttons -->
    <div class="my-3">
        <a href="{% url 'recipe_like' recipe.id %}" class="btn btn-primary">Like ({{ recipe.number_of_likes }})</a>
    </div>

    {% if request.user == recipe.author %}
    <div class="mb-4">
        <a href="{% url 'recipe_edit' slug=recipe.slug %}" class="btn btn-info">Edit</a>
        <a href="{% url 'recipe_delete' slug=recipe.slug %}" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}

    <!-- Bookmark Button -->
    {% if user.is_authenticated %}
        <form action="{% url 'bookmark_recipe' recipe.slug %}" method="post">
            {% csrf_token %}
            {% if favourite %}
                <button type="submit" class="btn btn-danger">Remove Bookmark</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Bookmark</button>
            {% endif %}
        </form>
    {% endif %}
    
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.author.username }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on|date:"Y-m-d H:i" }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
